# Build results
bin/
obj/
out/
publish/
wwwroot/dist/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.vs/
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
